.title{
    text-align: center;
    left: 10vw;
    font-size: 15vw;
    position: fixed;
}

#photoupload{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    top: 40vh;
    left: 40vw;
    font-size:  16px;
    transform: scale(4.0);
    text-align: center;
    position: fixed;
    height: 6vh;
    width: 20vw;
    z-index: 2;
    overflow: visible;
}



#addphoto{
    position: fixed;
    top: 60vh;
    left: 10vw;
    font-size: 10vw;
    width: 80vw;
    height: 10vh;
}