.title{
    text-align: center;
    font-size: 15vw;
}

#photoupload{
    top: 40vh;
    left: 19vw;
    font-size: 50px;
    line-height: 200px;
    text-align: center;
    position: fixed;
    height: 60vh;
    width: 60vw;
}

#addphoto{
    position: fixed;
    top: 60vh;
    left: 10vw;
    font-size: 10vw;
    width: 80vw;
    height: 10vh;
}